.element__like_on {
    width: 22px;
    height: 22px;
    background-image: url(../../../images/like-on.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    align-self: flex-end;
}