.element__like_off {
    width: 22px;
    height: 22px;
    background-image: url(../../../images/like-off.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    align-self: flex-end;
}

.element__like_off:hover {
    opacity: 0.5;
}