.profile__info {
    max-width: 336px;
    margin: 22px auto 0 30px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 640px) {
    .profile__info {
        margin: 26px auto 36px;
    }
}