.footer {
    max-width: 880px;
    margin: 0 auto 60px;
    display: flex;
}

@media screen and (max-width: 940px) {
    .footer {
      max-width: 579px;
      margin-bottom: 26px;
    }
}

@media screen and (max-width: 640px) {
    .footer {
      max-width: 282px;
    }
}